<!DOCTYPE html>
<html>
  <head>
    <meta charset = "UTF-8">
    <link rel="stylesheet" href="application.css.scss">
  </head>
  
  <body>
    <div id = "block">
      <h1>Welcome</h1>
      <h2>hi hi hi</h2>
    </div>
   
    <div id = "block2">
      <h2>this application Bitcoin Homepage</h2>
    </div>
  </body>


</html>