 @import "bootstrap";

 input[type=submit] { @extend .btn-primary; }

 .center {
  text-align: center;
}

body{
  background: #1E90FF;
}
#block h1 {
  background: #6495ED;
}
#block h2 {
  background: #00FFFF;
}

#block2{
  background: aqua;
}